



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: ; */
}

html {
  /* font-size: 62.5%; */
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
body.body-mobilenav{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.font-roboto{
  font-family: 'Roboto', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}
.landing{
    position: relative;
    min-height: 100vh;
    height: 100%;
    color: #f3f0ff;
}
.header {
  height: auto;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 26px 130px 32px;
  display: flex;
  justify-content: space-between;
  /* gap: 35rem; */
  align-items: center;
  background-color: #1AC073;
}

.header .logo {
  /* height:  */
}
.landing-input{
  display: flex;
  width: 398px;
  height: 58px;
  block-size: fit-content; 
  /* border-radius: 10px; */
}
.search{
  width:286px;
  height: 58px;
  text-indent: 22px;
  border: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search:placeholder{
  width: 136px;
  height: 20px;
  color: #929292;
}
.btn{
  width: 112px;
  height: 58px;
  background: #F3BA00;
  color: #fff;
  border: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  /* gap: 20rem; */
  width: 60vw;
}

.navbar-list {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  /* text-transform: uppercase; */
  text-decoration: none;
  color: #fff !important;
  transition: all 0.3s;
  font-size: 18px !important;
  line-height: 20px !important;
  letter-spacing: -0.012em !important;
}

.navbar-link:hover,
.navbar-link:active {
  color: #364fc7;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* ===========================================
Hero and Service Section Start
======================================= */
.section-hero
{
  background-color: #1AC073;
  min-height: 100vh;
  height: auto;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.section-hero{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    min-height: 100vh;
    height: 100%;
    padding: 250px 132px 35px;
    gap:108px;
    /* align-items: flex-start; */
}
.section-hero .left-hero,.section-hero .right-hero{
  /* width: 48%; */
  flex:1;
  /* height: 100%; */
  width: 100%;
}
.left-hero h1{
font-size: 70px;
line-height: 82px;
}
/* .section-hero .right-hero div,.section-hero .left-hero div{ */
  /* height: 100%; */
  /* width: 100%; */
/* } */
.section-hero .right-hero img{
  height: 100%;
  width: 100%;
}
.section-hero .left-hero p{
font-size: 18px;
line-height: 20px;
margin: 32px 0 40px 0;
max-width: 80%;
letter-spacing: -0.012em;
}
.heading{
  line-height: 24px;
  letter-spacing: -0.012em;
  color: #000000;
  font-weight: 800;
  font-size: 40px;
}
.section-kitchen {
  width: 100vw;
  height: auto;
  background: #F7F8FA;
  padding: 105px 130px 0px 130px;
}
.kitchen-home {
  width: auto;
  height: 100%;
  background: #F7F8FA;
  /* display: flex; */
  /* background: #F7F8FA; */
}
.kitchen-cards {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
.card{
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top:39px;
  width: 277px;
}
.description{
  background: #fff;
  width: 100%;
  border-radius: 0 0 10px 10px;
  /* width: 277px;
  height: 87px; */
}
.des{
  width: fit-content;
}
.title,.price,.point{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #1B1C21;
}
.point{
  
font-size: 12px;

}
.add{
  width: fit-content;
  border-radius: 5px;
}
.internal-description{
  margin: 15.5px;
}
.top-description{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.down-description{
  display: flex;
  justify-content: space-between;
  /* width: 50%; */
  
}
.left-down-description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:8px;
  
}
.rating{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  gap: 4px;
  
  /* width: 45px;
  height: 20px; */
  
  background: #F7F8FA;
  
  
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  
  
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.rating-value{
  /* width: 17px;
  height: 20px; */

  
  line-height: 20px;


  letter-spacing: -0.012em;



  color: #1B1C21; 




  flex: none;
  order: 1;
  flex-grow: 0; 
}
.time-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 3px;
  gap: 4px;
  
  width: 68px;
  height: 20px;
  
  background: #BEBEBE;
  /* Normal outer */
  
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;

}
.time{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
  gap: 4px;
  
  width: 62px;
  height: 20px;
  
  background: #F7F8FA;
  border-radius: 5px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;

box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
border-radius: 5px;
  width: fit-content;
}
.time-value{
  width: 30px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

letter-spacing: -0.012em;

/* Text/Black Body caption */

color: #1B1C21;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.time-unit{
  width: 20px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

letter-spacing: -0.012em;

/* Text/Black Body caption */

color: #1B1C21;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.right-down-description{
  
  
}
.kitchen-img {
    width: 100%;
}

.kitchen-tag{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 3px;
  background: #F3BA00;
  border-radius: 10px 0px 0px 0px;
}


.popular-items{
  margin: 122px 0 0 0;
  width: auto;
  height: 100%;
  background: #F7F8FA;
}
.heading{
  text-align: center;
  margin: 0 0 37.5px 0;
}
/* ===========================================
Responsive Codes 
======================================= */


@media (min-width: 62em){
  .navbar {
    width: 57vw;
  }
}

@media (min-width: 69em){
  .navbar {
    width: 55vw;
  }
}

/* 980px  */
@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  /* .header .logo {
    width: 40%;
  } */

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #1AC073;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.8rem;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
    
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  /* .header .logo {
    width: 60%;
  } */
}